.page-container {
    width: 900px;
    margin:0 auto;
    background-color: #cfe8ff;
    padding:20px;
    border-radius:10px;
    border:2px solid black;
}
.profile-pic {
    border:2px solid black;
    border-radius:10px;
    display:block;
}
.header-pic {
    border:2px solid black;
    border-radius:10px;
    display:block;
}
.site-footer p,
.nav-title,
.main-nav{
    margin:4px 0;
    text-align: center;
}
.site-footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.main-nav a:hover {
    text-decoration:underline;
    color: #003366;
    transform: scale(1.5);
    text-shadow:0 0 5px rgba(0,0,0,0.3);
}
.page-container {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.main-nav a {
    transition: 0.2s ease;
    
}
.main-nav a {
    transition: transform;
}
.nav-links a {
    display:inline-block;
    margin:8px 0;
    font-size:20px;
    transition: transform 0.25s ease, color 0.25s ease, text-shadow 0.25s ease;
}
.nav-links a:hover {
    transform: scale(1.2);
    color:#003366;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
html {
    scroll-behavior:smooth;
}
